#blogArchives {
    overflow-x: hidden;/*隐藏归档页面底部滑动条*/
    overflow-y: auto;
    height: 780px;
}

/*修改后台markdown编辑器上传图片弹框大小*/
.editormd-dialog{
    height: 400px !important;
}
#open_mail {
    margin-top:30px
}
/*评论区可编辑div样式*/
#commentEditor{
    height: 130px !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    color: #555 !important;
    display: block !important;
    font-size: 14px !important;
    line-height: 1.42857 !important;
    padding: 6px 12px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s !important;
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/*可编辑div实现placeholder效果*/
#commentEditor:empty:before {
    content: attr(data-placeholder) !important;
    color:#bbb !important;
}
#commentEditor:focus:before {
    content:none !important;
}

/*动态显示与隐藏*/
.myHideStyle{
    display: none !important;
}
.myShowStyle{
    display: inline-block !important;
}

/*博主评论图标样式*/
.adminComment{
    background: #FFF!important;
    color: red !important;
    border-color: red !important;
}

/*访客评论图标样式*/
.visitComment{
    background: #FFF!important;
    color: #3cb5ff !important;
    border-color: #3cb5ff !important;
}
/*游客评论图标样式*/
.touristComment{
    background: #FFF!important;
    color: #BD93A1 !important;
    border-color: #BD93A1 !important;
}
/* 分页 footer*/
.next-footer{
    display:flex;
    justify-content:center;
    align-items:center;
}

body {
    background: center/cover no-repeat;
    background-image: url("../img/background.jpg");
    background-attachment:fixed;
}

.m-padded-mini {
    padding: 0.2em !important;
}

.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}


.m-padded-lr-responsive {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/*-------text -----*/

.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}

/*-----margin------*/
.m-margin-top-null {
    margin-top:0em !important;
}
.m-margin-top-small {
    margin-top:0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-top-max {
    margin-top: 35px !important;
}

.m-margin-top-maxx {
     margin-top: 5em !important;
 }
.m-margin-top-maxxx {
    margin-top: 19em !important;
}

.m-margin-bottom {
    margin-bottom: auto  !important;
}

.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}

.m-margin-{
    margin-top:0em !important;
}

.m-margin--{
    margin-top:-89px !important;
}

.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}

.m-margin-left-mini{
    margin-left:4em !important;
}
.m-margin-left-big{
    margin-left:8em !important;
}

/*.m-center {*/
    /*display: block!important;*/
    /*margin-right: auto!important;*/
    /*margin-left: auto!important;*/
/*}*/

/*-----opacity------*/
.m-opacity {
    opacity: 0.95 !important;
}
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}
.m-opacity-small {
    opacity: 0.4 !important;
}

/*------position---*/

.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}
.m-left-top {
    position: absolute;
    top:0;
    left: 0;
}

/*------display------*/
.m-inline-block {
    display: inline-block !important;
}


/*-----container------设置博客显示内容宽*/

.m-container {
    max-width: 80em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}

/*------shadow------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*------positon-----*/

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}


/*-----color-----*/
.m-black {
    color: #333 !important;
}
.m-teal {
    color: #00B5AD !important;
}

.friends-link{
    width: 160px;
    height: 220px;
    border: 1px solid #999;
    box-shadow: 5px 5px 5px #999;
    border-radius:8px;
}
.friend-font-size{
    font-size: 1.2em!important;
}
.friends-link-image{
    width:158px !important;
    height:158px !important;
    border-radius: 8px 8px 0px 0px;

}

/*闪闪*/
.item-light{
    position: relative;
}
.item-light::before{
        content:'';
        position:absolute;
        left:0;
        top:0;
        right:0;
        bottom:0;
        background:linear-gradient(-45deg,transparent 30%,transparent,rgba(255,255,255,.5),transparent 70%) no-repeat;
        background-size:200% 200%;
        background-position:200% 200%;
    }
.item-light:hover::before{
        transition:background-position 1.5s;
        background-position:-100% -100%;
}


/*关于我头像旋转*/
.m-margin-top-large img:hover{
    animation: rotate 2s linear infinite;
}

.m-mobile-show {
   display: none !important;
}
@keyframes rotate{
	0%{
		transform: rotateZ(0deg);/*从0度开始*/
	}
	100%{
		transform: rotateZ(360deg);/*360度结束*/
	}
}
@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
    .item-light{
        width: 250px;
        position: relative;
    }
   
}